<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Born address:</strong>
  <%= @user.born_address %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @user.job_type %>
</p>

<p>
  <strong>Workat:</strong>
  <%= @user.workat %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @user.job_description %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @user.facebook_url %>
</p>

<p>
  <strong>Owned media:</strong>
  <%= @user.owned_media %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @user.vision %>
</p>

<p>
  <strong>Join purpose:</strong>
  <%= @user.join_purpose %>
</p>

<p>
  <strong>Give free:</strong>
  <%= @user.give_free %>
</p>

<p>
  <strong>Give cost:</strong>
  <%= @user.give_cost %>
</p>

<p>
  <strong>Trouble:</strong>
  <%= @user.trouble %>
</p>

<p>
  <strong>Needs:</strong>
  <%= @user.needs %>
</p>

<p>
  <strong>Thinking:</strong>
  <%= @user.thinking %>
</p>

<p>
  <strong>Recent news:</strong>
  <%= @user.recent_news %>
</p>

<p>
  <strong>Perspective talent:</strong>
  <%= @user.perspective_talent %>
</p>

<p>
  <strong>Life carrier:</strong>
  <%= @user.life_carrier %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
